USE [EuropeanSoccer]
GO
/****** Object:  View [dbo].[vCountry]    Script Date: 09/05/2022 16:15:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* * * * * * * * * * * * * * * * * * * * * * * * * *
|
|	CREATED BY DANNY GONZALEZ
|	MAY 9th, 2022
|	VIEW TABLE
|	COUNTRY
|   UNDERESTANDING DATA FOR NOT TECHNICAL END-USERS 
|
* * * * * * * * * * * * * * * * * * * * * * * * * */

CREATE VIEW [dbo].[vCountry]
AS
SELECT 
	C.Country_Id,
	C.[Name] AS Country
FROM 
	DimCountry C
GO
